@import "tailwindcss";
@import url("./satoshi.css");

@theme {
	/* --color-*: initial; */

	/*bg*/
	--color-primary: var(--color-base-05);
	--color-primary-alt: var(--color-base-10);
	--color-secondary: var(--color-base-20);
	--color-secondary-alt: var(--color-base-20);

	--color-text-normal: var(--color-base-100);
}

:root {
	--color-base-00: oklch(0.05 0 0);
	--color-base-05: oklch(0.075 0 270);
	--color-base-10: oklch(0.1 0 270);
	--color-base-10: oklch(0.15 0 270);
	--color-base-20: oklch(0.2 0 270);
	--color-base-25: oklch(0.25 0 270);
	--color-base-30: oklch(0.3 0 270);
	--color-base-35: oklch(0.35 0 270);
	--color-base-40: oklch(0.4 0 270);
	--color-base-50: oklch(0.5 0 270);
	--color-base-60: oklch(0.6 0 270);
	--color-base-70: oklch(0.7 0 270);
	--color-base-80: oklch(0.8 0 270);
	--color-base-100: oklch(0.9 0 270);
	--color-base-200: oklch(0.97 0 270);
	--color-base-255: oklch(1 0 270);
}

@layer base {
	* {
		@apply m-0 p-0 border-0 box-border text-text-normal;
	}
	body {
		font-family: "Satoshi-Variable", sans-serif;
		font-weight: 500;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}
}

.scrollbar-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
